<h1>Pieces Show</h1>

<h3>Piece name<%= @piece.name %></h3>
<p>Piece number<%= @piece.piece_number %></p>
<p>Piece broken<%= @piece.broken %></p>
<p>Piece belongs to Lego Set ID<%= @piece.lego_set_id %></p>